<ul class="pagination">
  <!--Previous-->
  <li
    [ngClass]="[currentPage === 1 ? 'page-item disabled' : 'page-item']"
    (click)="
      currentPage > 1 && (currentPage = currentPage - 1);
      selectedPageNumber(currentPage)
    "
  >
    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
      >Previous</a
    >
  </li>

  <!--Pages-->
  <div *ngFor="let page of [].constructor(numberOfPages); let i = index">
    <li
      [ngClass]="[i + 1 === currentPage ? 'page-item active' : 'page-item']"
      (click)="selectedPageNumber(i + 1)"
    >
      <a class="page-link" href="#">{{ i + 1 }}</a>
    </li>
  </div>

  <!--Next-->
  <li
    [ngClass]="[
      currentPage === numberOfPages ? 'page-item disabled' : 'page-item'
    ]"
    (click)="
      currentPage < numberOfPages && (currentPage = currentPage + 1);
      selectedPageNumber(currentPage)
    "
  >
    <a class="page-link" href="#">Next</a>
  </li>
</ul>
