<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-sm border border-warning">
          <h2>TEST1</h2>
        </div>
        <div class="col-sm border border-secondary"><h2>TEST2</h2></div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row justify-content-start">
        <div
          class="col-sm-12 col-lg-6 col-xl-4 d-flex mb-2 justify-content-center border border-danger"
          *ngFor="let pet of pets"
        >
          <app-item-card [pet]="pet"></app-item-card>
        </div>
      </div>
    </div>
  </div>
</div>
