<div class="petCard">
  <div class="petCardImageContainer">
    <img
      src="{{ pet.pictureUrl }}"
      class="petCardImage"
      alt="{{ pet.name }}, {{ pet.age }} y/o, {{ pet.animal }}"
    />
  </div>

  <div class="petCardInfo">
    <h2 class="petCardTitle">{{ pet.name }}</h2>
    <p class="petCardDescription">
      {{ pet.description }}
    </p>
    <div *ngIf="pet.hasVaccines; else elseBlock">
      <span class="hasVaccines">
        <p><small>Has vaccines</small></p></span
      >
    </div>
    <ng-template #elseBlock>
      <div>
        <span class="hasNoVaccines"
          ><p><small>Not vaccinated</small></p></span
        >
      </div>
    </ng-template>
    <div class="addToCartAndAddToFavoritesFlex">
      <button type="button" class="btn btn-primary">
        <span class="btn-label"><i class="fa fa-shopping-cart"></i></span>
        {{ pet.price | currency : "RUB" : "symbol-narrow" : "1.0-2" : "ru" }}
      </button>
      <i class="fa fa-heart-o addToFavorite"></i>
    </div>
    <div class="petCardDate">
      <p class="petCardDateText">7th January 14:19</p>
    </div>
  </div>
</div>
